html {
    font: 1.5em Courier;
}

div {
    width: 100%;
    text-align: left;
    vertical-align: top;
    max-width: 1024px;
}

input {
    font: 1.5em Courier;
    width: 96%;
    text-align: left;
    vertical-align: top;
}

textarea {
    font: 1em Courier;
    width: 98%;
    text-align: left;
    vertical-align: top;
    height: 250px;
}

/* get event */
#dloc {
    height: 250px;
}

#dname {
    font-size: 2em;
}

#ddetails, #dsignup, #dfuture {
    background-color: #f7f7f7;
}

/* manage event */
#dm_heading {
    text-align: center;
    font-weight: bold;
}

#dm_cap {
    background-color: #f7f7f7;
}

.manage_event {
    max-width: 720px;
    margin-bottom: 1.5em;
}

.me_cap {
    width: 45%;
}

@media screen and (max-width: 720px) {
    .maydisappear {
        display: none;
    }
}

@media screen and (min-width: 721px) {
    #ddetails, #dshare {
        display: inline-block;
        width: 49%;
        max-width: 502px;
    }

    #dsignup, #dorg {
        display: inline-block;
        width: 29%;
        max-width: 297px;
    }

    #dsignup {
        width: 69%;
        max-width: 706px;
    }

    #dorg {
       font-size: 0.7em;
    }
}
