{% extends "base.html" %}
{% block body %}
<ul>{% for ev in events %}
    <li>
        {% if ev.url %}
                <a href='{{ ev.url }}'>
                {{ ev.name }}</a>
        {% else %}
                {{ ev.name }}
        {% endif %}
        {{ ev.due.strftime("%d.%m.%Y").lstrip("0").replace(".0", ".") }}
        {% if ev.desc and ev.desc %}
                - {{ ev.desc }}
        {% endif %}
    </li>
{% endfor %}</ul>
<div id="dfuture">
{{ L[11] }}
<a href='{{ request.url_root }}future.ics'>{{ request.url_root }}future.ics</a>
</div>
{% endblock %}
