{% extends "base.html" %}
{% block title %}{{ ev.name }}{% endblock %}
{% block body %}
<center>

{% if not ev %}

{{ L[3] }}

{% else %}{% if passed %}

{{ L[4] }}

{% else %}

<div id='dloc' class='maydisappear'></div>
<!--
    see https://wiki.openstreetmap.org/wiki/OpenLayers_Marker_Example
-->
<script src='static/f.js'></script>
<script src='http://www.openlayers.org/api/OpenLayers.js'></script>
<script>
    map = new OpenLayers.Map("dloc");
    map.addLayer(new OpenLayers.Layer.OSM());
    var lonLat = new OpenLayers
        .LonLat({{ ev.osmnode.lon }}, {{ ev.osmnode.lat }})
        .transform(
            new OpenLayers.Projection("EPSG:4326"), // transform from WGS 1984
            map.getProjectionObject() // to Spherical Mercator Projection
        );
    var zoom = 18;
    var markers = new OpenLayers.Layer.Markers("Markers");
    map.addLayer(markers);
    markers.addMarker(new OpenLayers.Marker(lonLat));
    map.setCenter(lonLat, zoom);
</script>

<div id='dname'>{{ ev.name }}</div>

<div id="ddetails">
<div id='ddate'>
{{ ev.due.strftime("%d.%m.%Y").lstrip("0").replace(".0", ".") }}
</div>
<div id='dtime'>{{ ev.due.strftime("%H:%M") }}</div>
<div id='daddr'>
{% if ev.osmnode is not none %}
    <a href='https://www.openstreetmap.org/node/{{ ev.loc }}'>
        {{ ev.osmnode.addrstreet }}
        {{ ev.osmnode.addrhousenumber }},
        {{ ev.osmnode.addrcity }}
    </a>
{% else %}
    <a href='https://www.openstreetmap.org/node/{{ ev.loc }}'>
        {{ L[9] }}
    </a>
{% endif %}
</div>
</div>
<div id='dshare'>
<a href='https://www.facebook.com/sharer/sharer.php?u={{
    request.base_url
}}&title={{
    ev.name
}}%20{{
    ev.due.strftime("%d.%m.%Y").lstrip("0").replace(".0", ".")
}}'>
{{ L[5] }}
</a><br />
<a href='https://twitter.com/share?url={{
    request.base_url
}}&text={{
    ev.name
}}%20{{
    ev.due.strftime("%d.%m.%Y").lstrip("0").replace(".0", ".")
}}'>
{{ L[6] }}
</a><br />
<a href='mailto:?subject={{
    ev.name
}}%20{{
    ev.due.strftime("%d.%m.%Y").lstrip("0").replace(".0", ".")
}}'>
{{ L[7] }}
</a><br />
<a href='{{ request.base_url }}.ics'>
{{ L[10] }}
</a><br />
</div>

<div id='ddesc'>{{ ev.desc|safe }}</div>

<div id='dsignup'>
{% if "osm_user" in session %}

{% if enrolled.type %}
<ul>
<li>
    {{ enrolled.type }}
    <a href='{{ url_for("unenroll_event", event=ev.eid) }}'>
    <span class='maydisappear'>{{ L[0][0] }} </span>{{ L[0][1] }}</a>
</li>
</ul>
{% else %}
<ul>{% for (t, s, c) in ev.sizes %}
<li>
    {{ t }}<span class='maydisappear'>
    ({{ c }}/{{ s }}), {{ L[1] }} {{ s - c }}
    </span>
    <a href='{{ url_for("enroll_event", event=ev.eid, t=t) }}'>{{ L[2] }}</a>
</li>
{% endfor %}</ul>
{% endif %}

{% else %}

<a href='{{ url_for("auth", event=ev.eid) }}'>{{ L[8] }}</a>

{% endif %}
</div>
<div id="dorg">
{% for a in avatars %}
    {% if a != "None" %}
        <img src='{{ a }}' width='50' height='50' />
    {% endif %}
{% endfor %}
<br /><a href='{{ request.base_url }}/listusers'>list of participants</a>
</div>

<div id="dnote">{{ ev.note|safe }}</div>

<div id="dfuture">
{{ L[11] }}
<a href='{{ request.url_root }}future.ics'>{{ request.url_root }}future.ics</a>
</div>

{% endif %}{% endif %}

</center>
{% endblock %}
