{% extends "base.html" %}
{% block body %}
<ul>{% for (t, s, c) in sizes %}
    <li>{{ t }} ({{ c }}/{{ s }})</li>
{% endfor %}</ul>
{% for (name, t) in users %}
    {{ name }} - {{ t }}<br />
{% endfor %}
{% endblock %}
