{% extends "base.html" %}
{% block title %}{{ ev.name }}{% endblock %}
{% block body %}
<center>

<div class="manage_event" id="dm_heading">
    {{ L[0] }}
</div>
<form method='POST' action='{{ url_for("manage_event", event=ev.eid) }}'>
<div class="manage_event" id="dm_name">
    <input type='text' name='name' value='{{ ev.name }}' />
    {{ L[3] }}
</div>
<div class="manage_event" id="dm_due">
    <input type='text' name='due' value='{{ ev.due.strftime("%Y-%m-%d %H:%M") }}' />
    {{ L[4] }}
</div>
<div class="manage_event" id="dm_loc">
    <input type='text' name='loc' value='{{ ev.loc }}' />
    {{ L[5] }}
</div>
<div class="manage_event" id="dm_url">
    <input type='text' name='url' value='{{ ev.url }}' />
    {{ L[6] }}
</div>
<div class="manage_event" id="dm_desc">
    <textarea name="desc">{{ ev.desc }}</textarea>
    {{ L[8] }}
</div>
<div class="manage_event" id="dm_note">
    <textarea name="note">{{ ev.note }}</textarea>
    {{ L[9] }}
</div>
<div class="manage_event" id="dm_cap">
    {{ L[7] }}
    <ul id='fsizes'>{% for (t, s, c) in ev.sizes %}
    <li>
        <input
            class='me_cap'
            type='text'
            name='t_{{ t }}{{ s }}'
            value='{{ t }}'
        /><input
            class='me_cap'
            type='text'
            name='s_{{ t }}{{ s }}'
            value='{{ s }}'
        />
    </li>
    {% endfor %}</ul>
    <ul><li><a href='javascript: (function() {
        var tid = Date.now();
        var ul = document.getElementById("fsizes");
        var li = document.createElement("li");
        var t1 = document.createElement("input");
        t1.type = "text";
        t1.name = "t_" + tid;
        t1.className = "me_cap";
        var t2 = document.createElement("input");
        t2.type = "text";
        t2.name = "s_" + tid;
        t2.className = "me_cap";
        li.appendChild(t1);
        li.appendChild(t2);
        ul.appendChild(li);
    })();'>
        {{ L[2] }}
    </a></li></ul>
</div>
<div class="manage_event" id="dm_send">
    <a href='javascript:;' onclick='document.forms[0].submit();'>{{ L[1] }}</a>
</div>
</form>

</center>
{% endblock %}
