{% extends "base.html" %}
{% block title %}{{ user.name }}{% endblock %}
{% block body %}

<p>{% block info %}{% endblock %}<p>
<ul>
    <li>{% block name %}{% endblock %}: {{ user.name }}</li>
    <li><form method='POST' action='{{ url_for("manage_user") }}'>
        {% block email %}{% endblock %}:
        <input type='email' name='email' value='{{ user.email }}' />
    </form></li>
    <li>oauth token</li>
    <li>oauth token secret</li>
</ul>
<ul>
    <li><a href='javascript:;' onclick='document.forms[0].submit();'>
        {% block update %}{% endblock %}
    </a></li>
    <li><a href='{{ url_for("delete_user") }}'>
        {% block delete %}{% endblock %}
    </a></li>
</ul>

{% endblock %}
